name: Auto Deploy Flask App

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get project files
        uses: actions/checkout@v4
      - name: Build check
        run: echo "Project files pulled"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4

      - name: Prepare SSH key
        run: |
          echo "${{ secrets.SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Connect and Deploy to Server
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key_path: key.pem
          port: 22
          script: |
            echo " Pulling"
            cd /var/www/html/app || (mkdir -p /var/www/html/app && cd /var/www/html/app)
            git pull || git clone https://github.com/avinurb/software-course.git .
            echo " Code updated"

            echo " Setting "
            apt-get update -y
            apt-get install -y python3-venv python3-pip

            python3 -m venv venv
            ./venv/bin/pip install flask gunicorn

            echo " Restarting server"
            pkill gunicorn || true
            nohup ./venv/bin/gunicorn -b 0.0.0.0:5032 app:app > /dev/null 2>&1 &
            echo " Deployment completed"
